<header class="site-header">
  <div class="container" style="text-align:center">
    <div class="navbar" style="margin-bottom:0;border:0">
    <ul class="navbar-nav nav header-nav">
    <li><a href="{{ site.baseurl }}/index.html" class="button nav-button">Programming Blog</a></li>
    <li><a href="{{ site.baseurl }}/compositions.html" class="button nav-button">Music Compositions</a></li>
    <li class="trigger">
      <a href="{{ site.baseurl }}/about-me.html" class="button nav-button">About Me</a>
    </li>
    </ul>
    </div>
  </div>

</header>
<div class="clearfix">
